<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a  style="color:white;" class="navbar-brand">SHOP101</a>
                
                <div class="form-inline">
                    <a href="index.html" style="color:white; margin-right:30px;">CART</a>
                    <a href="index.html"  style="color:white;">LOGIN</a>
                 
                </div>
        </nav>
   <div class="container">

       <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                
                  <img class="card-img-top" src="../static/assets/img4.1.jpg" alt="Card image cap" style="width:300px;">
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 p-3 mb-2 bg-secondary text-white" style="margin-top:30px;">
               <div class="container">
                <h2 >IPhone X1</h2><br>
                <p>
                   
                   The iPhone X was completely redesigned from top to bottom for the iPhone’s 10th anniversary. Featuring a glass over aluminum body, the iPhone X does away with home button altogether and introduces all new gestures, as well as Face ID for authentication. The display is a first for the iPhone as well: The iPhone X features a bezel-less 5.8-inch OLED display with a top notch for the camera.

                   Unlike other iPhones, the iPhone X only comes in one color: black. However it looks like Apple may have planned to release a gold version as well. 
                </p>

                <h3>Price:$1,000</h3>
               </div>
            </div>
                
        </div>
   </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>