<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a  style="color:white;" class="navbar-brand">SHOP101</a>
                
                <div class="form-inline">
                    <a href="#" style="color:white; margin-right:30px;">CART</a>
                    <a href="#"  style="color:white;">LOGIN</a>
                 
                </div>
              </nav>
            </div>
    <div class="container">
            
        <div class="row">
            <div class="col-12 col-lg-3 col-md-4 col-sm-1">
                

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone X1</h5>
                        <p class="card-text">
                                DISPLAY	Type	Super AMOLED capacitive touchscreen, 16M colors
                                Size	5.8 inches, 84.4 cm2 (~82.9% screen-to-body ratio)
                                Resolution	1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
                                </p>
                        <a href="index2.html" class="btn btn-primary">View</a>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone X2</h5>
                        <p class="card-text">  DISPLAY	Type	Super AMOLED capacitive touchscreen, 16M colors
                                Size	5.8 inches, 84.4 cm2 (~82.9% screen-to-body ratio)
                                Resolution	1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)</p>
                        <a href="index3.html" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone X3</h5>
                        <p class="card-text">  DISPLAY	Type	Super AMOLED capacitive touchscreen, 16M colors
                                Size	5.8 inches, 84.4 cm2 (~82.9% screen-to-body ratio)
                                Resolution	1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)</p>
                        <a href="index4.html" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone X4</h5>
                        <p class="card-text">  DISPLAY	Type	Super AMOLED capacitive touchscreen, 16M colors
                                Size	5.8 inches, 84.4 cm2 (~82.9% screen-to-body ratio)
                                Resolution	1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)</p>
                        <a href="index5.html" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>